html
    head
        title Eve Commerce
        link(rel="stylesheet", href="/css/main.css")

.grid-container
    .nav
    .menu
        p Welcome #{characterInfo.name}
        img(src=portraits.px128x128)
    .main

